# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
db.sqlite3
*.sqlite3
*.log

# Virtual environment
.venv/
env/
ENV/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Static & media files (optional if collected elsewhere)
staticfiles/
media/

# Secrets
.env
.env.*

# Node/npm (if using frontend tools)
node_modules/
package-lock.json

# Build and dist (if packaging)
build/
dist/
*.egg-info/